<% provide(:title, 'Netflix') %>
<% provide(:app_title, 'Netflix') %>
<div class='search-form'>
<%= form_with url: show_foreign_netflix_path, scope: :search, method: :get, local: true do |f| %>
<div class='search-box'>タイトル:<%= f.text_field :title %></div>
<div class='select-box'>
ジャンル:<%= f.select :genre,
{'選択して下さい': nil,
'韓国/ラブロマンス': '韓国/ラブロマンス',
'イタリア映画': 'イタリア映画',
'アメリカ映画': 'アメリカ映画',
'台湾映画': '台湾映画',
'コメディ': 'コメディ',
'実話に基づくヒューマンドラマ': '実話に基づくヒューマンドラマ',
'マインドゲームスリラー': 'マインドゲームスリラー',
'実際に起きた犯罪事件を描くドキュメンタリー': '実際に起きた犯罪事件を描くドキュメンタリー',
'ティーン向けホラー': 'ティーン向けホラー',
'ホラー': 'ホラー',
'受賞歴のある映画': '受賞歴のある映画',
'ファンタジー': 'ファンタジー',
'北欧映画': '北欧映画',
'法廷ヒューマンドラマ': '法廷ヒューマンドラマ',
'海外SF・ファンタジー': '海外SF・ファンタジー',
'キネマ旬報ベスト・テン受賞映画': 'キネマ旬報ベスト・テン受賞映画',
'ティーン向け恋愛・ラブストーリー': 'ティーン向け恋愛・ラブストーリー',
'中東映画': '中東映画',
'インド映画': 'インド映画',
'ベネチア国際映画祭受賞映画': 'ベネチア国際映画祭受賞映画',
'ゾンビホラー': 'ゾンビホラー',
'強盗アクション': '強盗アクション',
'海外TV番組・ドラマ': '海外TV番組・ドラマ',
'コミカルなコメディ': 'コミカルなコメディ',
'SFヒューマンドラマ': 'SFヒューマンドラマ',
'ビジネスをテーマにしたドキュメンタリー': 'ビジネスをテーマにしたドキュメンタリー',
'青春・学園': '青春・学園',
'海外ラブロマンス': '海外ラブロマンス',
'自然・生態系ドキュメンタリー': '自然・生態系ドキュメンタリー',
'ラブロマンス': 'ラブロマンス',
'スポーツドキュメンタリー': 'スポーツドキュメンタリー',
'大人向けアニメ': '大人向けアニメ',
'超常現象ホラー': '超常現象ホラー',
'海外/サスペンス': '海外/サスペンス',
'海外LGBTQ映画': '海外LGBTQ映画',
'アドベンチャー': 'アドベンチャー',
'スタンドアップコメディ': 'スタンドアップコメディ',
'ダークコメディ': 'ダークコメディ',
'欧米大ヒット映画': '欧米大ヒット映画',
'イギリス映画': 'イギリス映画',
'アニメーション': 'アニメーション',
'武術映画': '武術映画',
'SFサスペンス': 'SFサスペンス',
'バラエティ': 'バラエティ',
'海外ホラー': '海外ホラー',
'科学・技術ドキュメンタリー': '科学・技術ドキュメンタリー',
'カンヌ国際映画祭受賞映画': 'カンヌ国際映画祭受賞映画',
'海外/コメディ': '海外/コメディ',
'インディーズ系ヒューマンドラマ': 'インディーズ系ヒューマンドラマ',
'サスペンス': 'サスペンス',
'アクションコメディ': 'アクションコメディ',
'吸血鬼ホラー': '吸血鬼ホラー',
'香港映画': '香港映画',
'カナダ/TV番組・ドラマ': 'カナダ/TV番組・ドラマ',
'犯罪アクション・アドベンチャー': '犯罪アクション・アドベンチャー',
'ギャング・任侠の世界を描いたアクション': 'ギャング・任侠の世界を描いたアクション',
'高い評価を得た映画': '高い評価を得た映画',
'マラーティー語の映画': 'マラーティー語の映画',
'アニメ': 'アニメ',
'Urdu-Language Movies': 'Urdu-Language Movies',
'リトルキッズ': 'リトルキッズ',
'伝記ヒューマンドラマ': '伝記ヒューマンドラマ',
'ドイツ映画': 'ドイツ映画',
'海外/ヒューマンドラマ': '海外/ヒューマンドラマ',
'ウェスタン': 'ウェスタン',
'SFアクション': 'SFアクション',
'児童書が原作の映画': '児童書が原作の映画',
'海外/名作映画': '海外/名作映画',
'スペイン映画': 'スペイン映画',
'海外/アクション・アドベンチャー': '海外/アクション・アドベンチャー',
'政治をテーマにしたヒューマンドラマ': '政治をテーマにしたヒューマンドラマ',
'軍隊・戦争系アクション': '軍隊・戦争系アクション',
'音楽・ミュージカル': '音楽・ミュージカル',
'歴史・時代劇': '歴史・時代劇',
'泣けるラブロマンス': '泣けるラブロマンス',
'大ヒットSF・ファンタジー': '大ヒットSF・ファンタジー',
'ラブコメディ': 'ラブコメディ',
'動物物語': '動物物語',
'犯罪ヒューマンドラマ': '犯罪ヒューマンドラマ',
'本が原作のヒューマンドラマ': '本が原作のヒューマンドラマ',
'アクション・アドベンチャー': 'アクション・アドベンチャー',
'ディズニー映画': 'ディズニー映画',
'タイムトラベル': 'タイムトラベル',
'ミステリー': 'ミステリー',
'ベンガル語の映画': 'ベンガル語の映画',
'官能的なラブロマンス': '官能的なラブロマンス',
'キッズ・ファミリー映画': 'キッズ・ファミリー映画',
'中南米映画': '中南米映画',
'アカデミー賞受賞映画': 'アカデミー賞受賞映画',
'海外映画': '海外映画',
'カナダ映画': 'カナダ映画',
'海外ドキュメンタリー': '海外ドキュメンタリー',
'ロマンチックなヒューマンドラマ': 'ロマンチックなヒューマンドラマ',
'心理サスペンス': '心理サスペンス',
'ヒューマンドラマ': 'ヒューマンドラマ',
'ノルウェー映画': 'ノルウェー映画',
'名作映画': '名作映画',
'アジア映画': 'アジア映画',
}%>
</div>
<%= f.submit '検索', class: 'btn btn-primary', name: nil %>
<% end %>
</div>
<%= render 'show' %>
