<% provide(:title, 'Amazon prime') %>
<% provide(:app_title, 'Amazon prime') %>
<div class='search-form'>
<%= form_with url: show_foreign_amazonprime_path, scope: :search, method: :get, local: true do |f| %>
<div class='search-box'>タイトル:<%= f.text_field :title %></div>
<div class='select-box'>
  ジャンル:<%= f.select :genre,
  {'選択して下さい': nil,
  'SF': 'SF',
  'アニメ': 'アニメ',
  'ドキュメンタリー': 'ドキュメンタリー',
  'ホビー・実用': 'ホビー・実用',
  'ファンタジー': 'ファンタジー',
  'サスペンス': 'サスペンス',
  'ロマンス': 'ロマンス',
  'スポーツ': 'スポーツ',
  'アドベンチャー': 'アドベンチャー',
  'アクション': 'アクション',
  'アート・エンターテイメント・カルチャー': 'アート・エンターテイメント・カルチャー',
  'ホラー': 'ホラー',
  '外国映画': '外国映画',
  'キッズ': 'キッズ',
  '軍隊・戦争': '軍隊・戦争',
  'コメディー': 'コメディー',
  'ドラマ': 'ドラマ',
  'ミュージックビデオ・コンサート': 'ミュージックビデオ・コンサート',
  '歴史': '歴史',
  'エロティック': 'エロティック',
  '西部劇': '西部劇',
  }%>
</div>
<%= f.submit '検索', class: 'btn btn-primary', name: nil %>
<% end %>
</div>
<%= render 'show' %>

