<% provide(:title, 'Amazon prime') %>
<% provide(:app_title, 'Amazon prime') %>
<div class='search-form'>
<%= form_with url: show_japanese_amazonprime_path, scope: :search, method: :get, local: true do |f| %>
<div class='search-box'>タイトル:<%= f.text_field :title %></div>
<div class='select-box'>
ジャンル:<%= f.select :genre,
{'選択して下さい': nil,
'アニメ': 'アニメ',
'軍隊・戦争': '軍隊・戦争',
'コメディー': 'コメディー',
'キッズ': 'キッズ',
'アートシアター': 'アートシアター',
'三池崇史': '三池崇史',
'ファンタジー': 'ファンタジー',
'ドキュメンタリー': 'ドキュメンタリー',
'ミュージックビデオ・コンサート': 'ミュージックビデオ・コンサート',
'外国映画': '外国映画',
'SF': 'SF',
'アドベンチャー': 'アドベンチャー',
'ホラー': 'ホラー',
'ドラマ': 'ドラマ',
'サスペンス': 'サスペンス',
'ロマンス': 'ロマンス',
'アクション': 'アクション',
}%>
</div>
<%= f.submit '検索', class: 'btn btn-primary', name: nil %>
<% end %>
</div>
<%= render 'show' %>
