<% provide(:title, 'Netflix') %>
<% provide(:app_title, 'Netflix') %>
<div class='search-form'>
<%= form_with url: show_anime_netflix_path, scope: :search, method: :get, local: true do |f| %>
<div class='search-box'>タイトル:<%= f.text_field :title %></div>
<div class='select-box'>
ジャンル:<%= f.select :genre,
{'選択して下さい': nil,
'日本アカデミー賞受賞映画': '日本アカデミー賞受賞映画',
'キッズアニメ': 'キッズアニメ',
'劇場版アニメ': '劇場版アニメ',
'国内SF・ファンタジー': '国内SF・ファンタジー',
'キッズTV番組': 'キッズTV番組',
'TVアニメ': 'TVアニメ',
'2018年アニメ': '2018年アニメ',
'SF・ファンタジーアニメ': 'SF・ファンタジーアニメ',
'歴史・時代劇': '歴史・時代劇',
'恋愛アニメ': '恋愛アニメ',
'主人公最強アニメ': '主人公最強アニメ',
'キッズ・ファミリー映画': 'キッズ・ファミリー映画',
'SF・サイバーパンク': 'SF・サイバーパンク',
'スポーツアニメ': 'スポーツアニメ',
'サスペンス・ホラーアニメ': 'サスペンス・ホラーアニメ',
'国内アクション・アドベンチャー': '国内アクション・アドベンチャー',
'ゲーマーにオススメのアニメ': 'ゲーマーにオススメのアニメ',
'青春・学園アニメ': '青春・学園アニメ',
'ライトノベルが原作のアニメ': 'ライトノベルが原作のアニメ',
'ミリタリー・戦争アニメ': 'ミリタリー・戦争アニメ',
'アニメ': 'アニメ',
'2017年アニメ': '2017年アニメ',
'ロボット・サイボーグアニメ': 'ロボット・サイボーグアニメ',
'ビデオゲームが原作のアニメ': 'ビデオゲームが原作のアニメ',
'キッズ音楽': 'キッズ音楽',
'週刊少年ジャンプが原作のアニメ': '週刊少年ジャンプが原作のアニメ',
'歴史アニメ': '歴史アニメ',
'アクションアニメ': 'アクションアニメ',
'コメディ・ギャグアニメ': 'コメディ・ギャグアニメ',
'アクションコメディ': 'アクションコメディ',
'漫画が原作のアニメ': '漫画が原作のアニメ',
}%>
</div>
<%= f.submit '検索', class: 'btn btn-primary', name: nil %>
<% end %>
</div>
<%= render 'show' %>
<%= will_paginate @movies, :outer_window   => 0, :inner_window   => 1, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>