<% provide(:title, 'Netflix') %>
<% provide(:app_title, 'Netflix') %>
<div class='search-form'>
<%= form_with url: show_japanese_netflix_path, scope: :search, method: :get, local: true do |f| %>
<div class='search-box'>タイトル:<%= f.text_field :title, class: 'search-box' %></div>
<div class='select-box'>
ジャンル:<%= f.select :genre,
{'選択して下さい': nil,
'ホラー': 'ホラー',
'スポーツアニメ': 'スポーツアニメ',
'犯罪サスペンス': '犯罪サスペンス',
'国内コメディ': '国内コメディ',
'社会問題に迫るヒューマンドラマ': '社会問題に迫るヒューマンドラマ',
'国内任侠映画': '国内任侠映画',
'国内アクション・アドベンチャー': '国内アクション・アドベンチャー',
'キッズ・ファミリー映画': 'キッズ・ファミリー映画',
'漫画が原作の国内映画': '漫画が原作の国内映画',
'ヒューマンドラマ': 'ヒューマンドラマ',
'アクションコメディ': 'アクションコメディ',
'ファンタジー': 'ファンタジー',
'本が原作のヒューマンドラマ': '本が原作のヒューマンドラマ',
'国内ドキュメンタリー': '国内ドキュメンタリー',
'官能的なラブロマンス': '官能的なラブロマンス',
'国内ヒューマンドラマ': '国内ヒューマンドラマ',
'音楽・ミュージカル': '音楽・ミュージカル',
'コメディ': 'コメディ',
'政治ドキュメンタリー': '政治ドキュメンタリー',
'インディーズ映画': 'インディーズ映画',
'コミカルなコメディ': 'コミカルなコメディ',
'アニメ': 'アニメ',
'法廷ヒューマンドラマ': '法廷ヒューマンドラマ',
'国内青春・学園': '国内青春・学園',
'ロボット・サイボーグアニメ': 'ロボット・サイボーグアニメ',
'ミステリー': 'ミステリー',
'ショービジネスの世界を描いたドキュメンタリー': 'ショービジネスの世界を描いたドキュメンタリー',
'ティーン向けホラー': 'ティーン向けホラー',
'日本アカデミー賞受賞映画': '日本アカデミー賞受賞映画',
'LGBTQを描いたヒューマンドラマ': 'LGBTQを描いたヒューマンドラマ',
'歴史・時代劇': '歴史・時代劇',
'国内SF・ファンタジー': '国内SF・ファンタジー',
'サスペンス': 'サスペンス',
'スポーツをテーマにしたヒューマンドラマ': 'スポーツをテーマにしたヒューマンドラマ',
'高い評価を得た映画': '高い評価を得た映画',
'歴史ドキュメンタリー': '歴史ドキュメンタリー',
'官能的なヒューマンドラマ': '官能的なヒューマンドラマ',
'文化・社会ドキュメンタリー': '文化・社会ドキュメンタリー',
'国内時代劇': '国内時代劇',
'ティーン向け恋愛・ラブストーリー': 'ティーン向け恋愛・ラブストーリー',
'キッズ音楽': 'キッズ音楽',
'主人公最強アニメ': '主人公最強アニメ',
'政治をテーマにしたヒューマンドラマ': '政治をテーマにしたヒューマンドラマ',
'ラブロマンス': 'ラブロマンス',
'キッズアニメ': 'キッズアニメ',
'コメディ・ギャグアニメ': 'コメディ・ギャグアニメ',
'実話に基づくヒューマンドラマ': '実話に基づくヒューマンドラマ',
'ドラマアニメ': 'ドラマアニメ',
'国内サスペンス': '国内サスペンス',
'ブルーリボン賞受賞映画': 'ブルーリボン賞受賞映画',
'国内バラエティ・お笑い': '国内バラエティ・お笑い',
'特撮・ヒーロー': '特撮・ヒーロー',
'国内名作映画': '国内名作映画',
'マインドゲームスリラー': 'マインドゲームスリラー',
'国内犯罪捜査': '国内犯罪捜査',
'ビデオゲームが原作のアニメ': 'ビデオゲームが原作のアニメ',
'ロマンチックなヒューマンドラマ': 'ロマンチックなヒューマンドラマ',
'国内映画': '国内映画',
'泣けるラブロマンス': '泣けるラブロマンス',
'ラブコメディ': 'ラブコメディ',
'ドキュメンタリー': 'ドキュメンタリー',
}%>
</div>
<%= f.submit '検索', class: 'btn btn-primary', name: nil %>
<% end %>
</div>
<%= render 'show' %>
<%= will_paginate @movies, :outer_window   => 0, :inner_window   => 1, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>